// HEADER :: START
section#section-top
header.header
  .container
    .header__wrapper
      .header__left
        a(href="#") О Бюстократии
        a(href="#") Наши магазины
      .header__logotype
        a(href="#")
          img(src="img/logo-header.svg", alt="")
          span бюстократия
      .header__sale
        img(src="img/sale.png", alt="")
      .header__right
        a.header__rules(href="#") Правила подбора белья
        .header__icons
          a.show-points(href="#" js-show-points)
            .header__icons-points 1
            img(src="img/icon-pack.svg", alt="")
          a.show-points(href="#" js-show-points)
            .header__icons-points 2
            img(src="img/icon-like.svg", alt="")
          a(href="#" js-enter-form)
            //- .header__icons-points 250
            img(src="img/icon-people.svg", alt="")
      .hamburger.hamburger--slider(js-hamburger)
        .hamburger-box
          .hamburger-inner
      .header__enter#enter-form
        .header__enter-head
          p Войти
          a(href="#") Зарегистрироваться
        .header__enter-form
          .input-container
            input(type="text" name="" placeholder="Эл. почта")
          .input-container
            input(type="password" name="" placeholder="Пароль")
          .input-container
            input.btn(type="submit" value="Войти")
        .header__enter-bottom
          .ui-checkbox.ui-checkbox--enter
            input#c1(type="checkbox", name="")
            label(for="c1")
              span Запомнить
          a(href="#") Забыли пароль?
  nav
    .container
      .header__icons
        a.show-points(href="#" js-show-points)
          .header__icons-points 2
          img(src="img/icon-like.svg", alt="")
        a(href="#" js-enter-form)
          img(src="img/icon-people.svg", alt="")
      .header__nav-wrapper
        .header__left
          a(href="#") О Бюстократии
          a(href="#") Наши магазины
        ul
          li
            a(href="#") По размеру
          li
            a(href="#") Бюстгальтеры
          li
            a(href="#") Трусики
          li
            a(href="#") Купальники
          li
            a(href="#") Корректирующее
          li
            a(href="#") Аксессуары
          li
            a(href="#") Домашняя одежда
          li
            a(href="#") Чулки и колготки
        a.header__rules(href="#") Правила подбора белья
        a.header__sale(href="#")
          img(src="img/sale.png", alt="")
        .header__search
          .search__box
            a.search__close(href="#" js-close-search)
              img(src="img/close.svg", alt="")
            input.search__field(type='text' placeholder='Поиск' js-search-input)
            .search-site__loader
              .loader.--bubbles.page__loader
                span.loader__item
                span.loader__item
                span.loader__item
            button.search__btn(js-open-search)
              img(src="img/search-black.svg", alt="")
              img.active(src="img/search-pink.svg", alt="")
            .search-site__hint
              .search-site__wrapper
                .search-site__scroll
                  a.search-site__item(href="#") Бюстгальтеры красные
                  a.search-site__item(href="#") Бюстгальтеры белые
                  a.search-site__item(href="#") Бюстгальтеры невидимка
                  a.search-site__item(href="#") Бюстгальтеры без бретелей
                  a.search-site__item(href="#") Бюстгальтеры pushup
                  a.search-site__item(href="#") Бюстгальтеры без косточек
                  a.search-site__item(href="#") Бюстгальтеры красные
                  a.search-site__item(href="#") Бюстгальтеры белые
                  a.search-site__item(href="#") Бюстгальтеры невидимка
                  a.search-site__item(href="#") Бюстгальтеры без бретелей
                  a.search-site__item(href="#") Бюстгальтеры pushup
                  a.search-site__item(href="#") Бюстгальтеры без косточек
      

// HEADER :: END