// HEADER :: START
section#section-top
header.header
  .container
    .header__wrapper
      .header__left
        a(href="#") О Бюстократии
        a(href="#") Наши магазины
      .header__logotype
        a(href="#")
          img(src="img/logo-header.svg", alt="")
          span бюстократия
      .header__sale
        img(src="img/sale.png", alt="")
      .header__right
        a.header__rules(href="#") Правила подбора белья
        .header__icons
          a.show-points(href="#" js-show-points)
            .header__icons-points 1
            img(src="img/icon-pack.svg", alt="")
          a.show-points(href="#" js-show-points)
            .header__icons-points 2
            img(src="img/icon-like.svg", alt="")
          a(href="#" js-enter-form)
            //- .header__icons-points 250
            img(src="img/icon-people.svg", alt="")
      .hamburger.hamburger--slider(js-hamburger)
        .hamburger-box
          .hamburger-inner
      .header__enter#enter-form
        .header__enter-head
          p Войти
          a(href="#") Зарегистрироваться
        .header__enter-form
          .input-container
            input(type="text" name="" placeholder="Эл. почта")
          .input-container
            input(type="password" name="" placeholder="Пароль")
          .input-container
            input.btn(type="submit" value="Войти")
        .header__enter-bottom
          .ui-checkbox.ui-checkbox--enter
            input#c1(type="checkbox", name="")
            label(for="c1")
              span Запомнить
          a(href="#") Забыли пароль?
  nav
    .container
      .header__icons
        a.show-points(href="#" js-show-points)
          .header__icons-points 2
          img(src="img/icon-like.svg", alt="")
        a(href="#" js-enter-form)
          img(src="img/icon-people.svg", alt="")
      .header__nav-wrapper
        .header__left
          a(href="#") О Бюстократии
          a(href="#") Наши магазины
        ul
          li
            a(href="#" js-open-sizes) По размеру
          li
            a(href="#" js-open-busts) Бюстгальтеры
          li
            a(href="#") Трусики
          li
            a(href="#") Купальники
          li
            a(href="#") Корректирующее
          li
            a(href="#") Аксессуары
          li
            a(href="#") Домашняя одежда
          li
            a(href="#") Чулки и колготки
        a.header__rules(href="#") Правила подбора белья
        a.header__sale(href="#")
          img(src="img/sale.png", alt="")
        .header__search
          .search__box
            a.search__close(href="#" js-close-search)
              img(src="img/close.svg", alt="")
            input.search__field(type='text' placeholder='Поиск' js-search-input)
            .search-site__loader
              .loader.--bubbles.page__loader
                span.loader__item
                span.loader__item
                span.loader__item
            button.search__btn(js-open-search)
              img(src="img/search-black.svg", alt="")
              img.active(src="img/search-pink.svg", alt="")
            .search-site__hint
              .search-site__wrapper
                .search-site__scroll
                  a.search-site__item(href="#") Бюстгальтеры красные
                  a.search-site__item(href="#") Бюстгальтеры белые
                  a.search-site__item(href="#") Бюстгальтеры невидимка
                  a.search-site__item(href="#") Бюстгальтеры без бретелей
                  a.search-site__item(href="#") Бюстгальтеры pushup
                  a.search-site__item(href="#") Бюстгальтеры без косточек
                  a.search-site__item(href="#") Бюстгальтеры красные
                  a.search-site__item(href="#") Бюстгальтеры белые
                  a.search-site__item(href="#") Бюстгальтеры невидимка
                  a.search-site__item(href="#") Бюстгальтеры без бретелей
                  a.search-site__item(href="#") Бюстгальтеры pushup
                  a.search-site__item(href="#") Бюстгальтеры без косточек
      
  .header__sizes
    .container
      .header__sizes-head
        .header__sizes-buttons
          a.is-active(href="#" js-head-tab) Бюстгальтеры
          a(href="#" js-head-tab) Трусики
          a(href="#" js-head-tab) одежда
        a.header__sizes-close(href="#" js-close-sizes)
      .header__sizes-tabs
        .header__sizes-tab.is-active
          .sizes__table
            .sizes__bg-rows
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
            table
              tr
                th AA
                th A
                th B
                th C
                th D
                th DD
                th E
                th F
                th FF
                th G
                th GG
                th H
                th HH
                th J
                th JJ
                th K
                th KK
                th L
                th LL
              tr
                td
                td 
                td 
                td 
                td 
                td 
                td 
                td 55F
                td 55FF
                td 55G
                td 55GG
                td 55H
                td 55HH
                td 55J
                td 55JJ
                td 55K
                td 
                td 
                td 
              tr
                td 60AA
                td 60A
                td 60B
                td 60C
                td 60D
                td 60DD
                td 60E
                td 60F
                td 60FF
                td 60G
                td 60GG
                td 60H
                td 60HH
                td 60J
                td 60JJ
                td 60K
                td 60KK
                td 60L
                td 65LL
              tr
                td 65AA
                td 65A
                td 65B
                td 65C
                td 65D
                td 65DD
                td 65E
                td 65F
                td 65FF
                td 65G
                td 65GG
                td 65H
                td 65HH
                td 65J
                td 65JJ
                td 65K
                td 65KK
                td 65L
                td 70LL
              tr
                td 70AA
                td 70A
                td 70B
                td 70C
                td 70D
                td 70DD
                td 70E
                td 70F
                td 70FF
                td 70G
                td 70GG
                td 70H
                td 70HH
                td 70J
                td 70JJ
                td 70K
                td 70KK
                td 70L
                td 75LL
              tr
                td 75AA
                td 75A
                td 75B
                td 75C
                td 75D
                td 75DD
                td 75E
                td 75F
                td 75FF
                td 75G
                td 75GG
                td 75H
                td 75HH
                td 75J
                td 75JJ
                td 75K
                td 75KK
                td 75L
                td 
              tr
                td 80AA
                td 80A
                td 80B
                td 80C
                td 80D
                td 80DD
                td 80E
                td 80F
                td 80FF
                td 80G
                td 80GG
                td 80H
                td 80HH
                td 80J
                td 80JJ
                td 80K
                td 80KK
                td 80L
                td 
              tr
                td 85AA
                td 85A
                td 85B
                td 85C
                td 85D
                td 85DD
                td 85E
                td 85F
                td 85FF
                td 85G
                td 85GG
                td 85H
                td 85HH
                td 85J
                td 85JJ
                td 85K
                td 85KK
                td 85L
                td 
              tr
                td
                td 90A
                td 90B
                td 90C
                td 90D
                td 90DD
                td 90E
                td 90F
                td 90FF
                td 90G
                td 90GG
                td 90H
                td 90HH
                td 90J
                td 90JJ
                td 90K
                td 90KK
                td 
                td 
              tr
                td
                td 95A
                td 95B
                td 95C
                td 95D
                td 95DD
                td 95E
                td 95F
                td 95FF
                td 95G
                td 95GG
                td 95H
                td 95HH
                td 95J
                td 95JJ
                td 95K
                td 95KK
                td 
                td 
              tr
                td
                td 100A
                td 100B
                td 100C
                td 100D
                td 100DD
                td 100E
                td 100F
                td 100FF
                td 100G
                td 100GG
                td 100H
                td 100HH
                td 100J
                td 100JJ
                td 100K
                td 
                td 
                td 
              tr
                td
                td 
                td 105B
                td 105C
                td 105D
                td 105DD
                td 105E
                td 105F
                td 105FF
                td 105G
                td 105GG
                td 105H
                td 105HH
                td 105J
                td 105JJ
                td 105K
                td 
                td 
                td 
              tr
                td
                td 
                td 110B
                td 110C
                td 110D
                td 110DD
                td 110E
                td 110F
                td 110FF
                td 110G
                td 110GG
                td 110H
                td 110HH
                td 110J
                td 110JJ
                td 110K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 115C
                td 115D
                td 115DD
                td 115E
                td 115F
                td 115FF
                td 115G
                td 115GG
                td 115H
                td 115HH
                td 115J
                td 115JJ
                td 115K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 
                td 120D
                td 120DD
                td 120E
                td 120F
                td 120FF
                td 120G
                td 120GG
                td 120H
                td 120HH
                td 120J
                td 120JJ
                td 120K
                td 
                td 
                td 
          .header__sizes-button
            a(href="#") Показать
        .header__sizes-tab
          .sizes__table
            .sizes__bg-rows
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
            table
              tr
                th AA
                th A
                th B
                th C
                th D
                th DD
                th E
                th F
                th FF
                th G
                th GG
                th H
                th HH
                th J
                th JJ
                th K
                th KK
                th L
                th LL
              tr
                td
                td 
                td 
                td 
                td 
                td 
                td 
                td 55F
                td 55FF
                td 55G
                td 55GG
                td 55H
                td 55HH
                td 55J
                td 55JJ
                td 55K
                td 
                td 
                td 
              tr
                td 60AA
                td 60A
                td 60B
                td 60C
                td 60D
                td 60DD
                td 60E
                td 60F
                td 60FF
                td 60G
                td 60GG
                td 60H
                td 60HH
                td 60J
                td 60JJ
                td 60K
                td 60KK
                td 60L
                td 65LL
              tr
                td 65AA
                td 65A
                td 65B
                td 65C
                td 65D
                td 65DD
                td 65E
                td 65F
                td 65FF
                td 65G
                td 65GG
                td 65H
                td 65HH
                td 65J
                td 65JJ
                td 65K
                td 65KK
                td 65L
                td 70LL
              tr
                td 70AA
                td 70A
                td 70B
                td 70C
                td 70D
                td 70DD
                td 70E
                td 70F
                td 70FF
                td 70G
                td 70GG
                td 70H
                td 70HH
                td 70J
                td 70JJ
                td 70K
                td 70KK
                td 70L
                td 75LL
              tr
                td 75AA
                td 75A
                td 75B
                td 75C
                td 75D
                td 75DD
                td 75E
                td 75F
                td 75FF
                td 75G
                td 75GG
                td 75H
                td 75HH
                td 75J
                td 75JJ
                td 75K
                td 75KK
                td 75L
                td 
              tr
                td 80AA
                td 80A
                td 80B
                td 80C
                td 80D
                td 80DD
                td 80E
                td 80F
                td 80FF
                td 80G
                td 80GG
                td 80H
                td 80HH
                td 80J
                td 80JJ
                td 80K
                td 80KK
                td 80L
                td 
              tr
                td 85AA
                td 85A
                td 85B
                td 85C
                td 85D
                td 85DD
                td 85E
                td 85F
                td 85FF
                td 85G
                td 85GG
                td 85H
                td 85HH
                td 85J
                td 85JJ
                td 85K
                td 85KK
                td 85L
                td 
              tr
                td
                td 90A
                td 90B
                td 90C
                td 90D
                td 90DD
                td 90E
                td 90F
                td 90FF
                td 90G
                td 90GG
                td 90H
                td 90HH
                td 90J
                td 90JJ
                td 90K
                td 90KK
                td 
                td 
              tr
                td
                td 95A
                td 95B
                td 95C
                td 95D
                td 95DD
                td 95E
                td 95F
                td 95FF
                td 95G
                td 95GG
                td 95H
                td 95HH
                td 95J
                td 95JJ
                td 95K
                td 95KK
                td 
                td 
              tr
                td
                td 100A
                td 100B
                td 100C
                td 100D
                td 100DD
                td 100E
                td 100F
                td 100FF
                td 100G
                td 100GG
                td 100H
                td 100HH
                td 100J
                td 100JJ
                td 100K
                td 
                td 
                td 
              tr
                td
                td 
                td 105B
                td 105C
                td 105D
                td 105DD
                td 105E
                td 105F
                td 105FF
                td 105G
                td 105GG
                td 105H
                td 105HH
                td 105J
                td 105JJ
                td 105K
                td 
                td 
                td 
              tr
                td
                td 
                td 110B
                td 110C
                td 110D
                td 110DD
                td 110E
                td 110F
                td 110FF
                td 110G
                td 110GG
                td 110H
                td 110HH
                td 110J
                td 110JJ
                td 110K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 115C
                td 115D
                td 115DD
                td 115E
                td 115F
                td 115FF
                td 115G
                td 115GG
                td 115H
                td 115HH
                td 115J
                td 115JJ
                td 115K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 
                td 120D
                td 120DD
                td 120E
                td 120F
                td 120FF
                td 120G
                td 120GG
                td 120H
                td 120HH
                td 120J
                td 120JJ
                td 120K
                td 
                td 
                td 
          .header__sizes-button
            a(href="#") Показать
        .header__sizes-tab
          .sizes__table
            .sizes__bg-rows
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
            table
              tr
                th AA
                th A
                th B
                th C
                th D
                th DD
                th E
                th F
                th FF
                th G
                th GG
                th H
                th HH
                th J
                th JJ
                th K
                th KK
                th L
                th LL
              tr
                td
                td 
                td 
                td 
                td 
                td 
                td 
                td 55F
                td 55FF
                td 55G
                td 55GG
                td 55H
                td 55HH
                td 55J
                td 55JJ
                td 55K
                td 
                td 
                td 
              tr
                td 60AA
                td 60A
                td 60B
                td 60C
                td 60D
                td 60DD
                td 60E
                td 60F
                td 60FF
                td 60G
                td 60GG
                td 60H
                td 60HH
                td 60J
                td 60JJ
                td 60K
                td 60KK
                td 60L
                td 65LL
              tr
                td 65AA
                td 65A
                td 65B
                td 65C
                td 65D
                td 65DD
                td 65E
                td 65F
                td 65FF
                td 65G
                td 65GG
                td 65H
                td 65HH
                td 65J
                td 65JJ
                td 65K
                td 65KK
                td 65L
                td 70LL
              tr
                td 70AA
                td 70A
                td 70B
                td 70C
                td 70D
                td 70DD
                td 70E
                td 70F
                td 70FF
                td 70G
                td 70GG
                td 70H
                td 70HH
                td 70J
                td 70JJ
                td 70K
                td 70KK
                td 70L
                td 75LL
              tr
                td 75AA
                td 75A
                td 75B
                td 75C
                td 75D
                td 75DD
                td 75E
                td 75F
                td 75FF
                td 75G
                td 75GG
                td 75H
                td 75HH
                td 75J
                td 75JJ
                td 75K
                td 75KK
                td 75L
                td 
              tr
                td 80AA
                td 80A
                td 80B
                td 80C
                td 80D
                td 80DD
                td 80E
                td 80F
                td 80FF
                td 80G
                td 80GG
                td 80H
                td 80HH
                td 80J
                td 80JJ
                td 80K
                td 80KK
                td 80L
                td 
              tr
                td 85AA
                td 85A
                td 85B
                td 85C
                td 85D
                td 85DD
                td 85E
                td 85F
                td 85FF
                td 85G
                td 85GG
                td 85H
                td 85HH
                td 85J
                td 85JJ
                td 85K
                td 85KK
                td 85L
                td 
              tr
                td
                td 90A
                td 90B
                td 90C
                td 90D
                td 90DD
                td 90E
                td 90F
                td 90FF
                td 90G
                td 90GG
                td 90H
                td 90HH
                td 90J
                td 90JJ
                td 90K
                td 90KK
                td 
                td 
              tr
                td
                td 95A
                td 95B
                td 95C
                td 95D
                td 95DD
                td 95E
                td 95F
                td 95FF
                td 95G
                td 95GG
                td 95H
                td 95HH
                td 95J
                td 95JJ
                td 95K
                td 95KK
                td 
                td 
              tr
                td
                td 100A
                td 100B
                td 100C
                td 100D
                td 100DD
                td 100E
                td 100F
                td 100FF
                td 100G
                td 100GG
                td 100H
                td 100HH
                td 100J
                td 100JJ
                td 100K
                td 
                td 
                td 
              tr
                td
                td 
                td 105B
                td 105C
                td 105D
                td 105DD
                td 105E
                td 105F
                td 105FF
                td 105G
                td 105GG
                td 105H
                td 105HH
                td 105J
                td 105JJ
                td 105K
                td 
                td 
                td 
              tr
                td
                td 
                td 110B
                td 110C
                td 110D
                td 110DD
                td 110E
                td 110F
                td 110FF
                td 110G
                td 110GG
                td 110H
                td 110HH
                td 110J
                td 110JJ
                td 110K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 115C
                td 115D
                td 115DD
                td 115E
                td 115F
                td 115FF
                td 115G
                td 115GG
                td 115H
                td 115HH
                td 115J
                td 115JJ
                td 115K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 
                td 120D
                td 120DD
                td 120E
                td 120F
                td 120FF
                td 120G
                td 120GG
                td 120H
                td 120HH
                td 120J
                td 120JJ
                td 120K
                td 
                td 
                td 
          .header__sizes-button
            a(href="#") Показать

  .header__busts
    .container
      .header__busts-buttons
        a.is-hidden(href="#" js-busts-types) Все
        a(href="#" js-busts-types) По типам
        a(href="#" js-busts-types) По Брендам
      .header__busts-grid
        .header__busts-all.is-active.header__busts-block
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-1.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-1-hover.jpg", alt="")
            .header__busts-info
              p.title Смотреть все бюстгальтеры
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-2.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-2-hover.jpg", alt="")
            .header__busts-info
              p.title Без бретелек и трансформеры 
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-3.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-3-hover.jpg", alt="")
            .header__busts-info
              p.title Новинки: бюстгальтеры
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-4.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-4-hover.jpg", alt="")
            .header__busts-info
              p.title Для дома, отдыха и сна
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-5.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-5-hover.jpg", alt="")
            .header__busts-info
              p.title Базовые на каждый день
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-6.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-6-hover.jpg", alt="")
            .header__busts-info
              p.title Хлопковые и из натуральных материалов
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-7.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-7-hover.jpg", alt="")
            .header__busts-info
              p.title Будуарные комплекты
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-8.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-8-hover.jpg", alt="")
            .header__busts-info
              p.title Для беременности и кормления
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-9.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-9-hover.jpg", alt="")
            .header__busts-info
              p.title Телесные, черные, белые: классика
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-10.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-10-hover.jpg", alt="")
            .header__busts-info
              p.title Эротические
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-11.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-11-hover.jpg", alt="")
            .header__busts-info
              p.title Спортивные
              p Более 200 моделей
          a.header__busts-item(href="#")
            .header__busts-image
              img(src="img/headerModel-12.jpg", alt="")
              .header__busts-image-hover
                img(src="img/headerModel-12-hover.jpg", alt="")
            .header__busts-info
              p.title Для невесты 
              p Более 200 моделей
        .header__busts-types.header__busts-block
          p По типам
          ul
            li
              a(href="#") Плотная / падированная чашка
            li
              a(href="#") Мягкая чашка со швами
            li
              a(href="#") Гладкие
            li
              a(href="#") Пуш-ап
            li
              a(href="#") С низкой перемычкой
            li
              a(href="#") С эластичным кружевом
            li
              a(href="#") Балконет / деми
            li
              a(href="#") Бандо (без бретелек)
            li
              a(href="#") Без косточек
            li
              a(href="#") Минимайзер
            li
              a(href="#") Бралет
            li
              a(href="#") Бюстье / лонглайн
        .header__busts-types.header__busts-block
          p По Брендам
          ul
            li
              a(href="#") Freya
            li
              a(href="#") Royce
            li
              a(href="#") Ewa Michalak
            li
              a(href="#") Passionata
            li
              a(href="#") Orhideja
            li
              a(href="#") Nikol Djumon
            li
              a(href="#") Samanta
            li
              a(href="#") Avocado
            li
              a(href="#") Stefi L
            li
              a(href="#") Panache
        a.header__busts-close(href="#" js-close-busts)

// HEADER :: END