// HEADER :: START
section#section-top
header.header
  .container
    .header__wrapper
      .hamburger.hamburger--slider(js-hamburger)
        .hamburger-box
          .hamburger-inner

// HEADER :: END