// POPUPS :: START


#thankMess.popup.popup--thank.mfp-with-anim.mfp-hide
  .popup__image
    img(src="img/mail.png", alt="")
  p Спасибо, ваше сообщение отправлено

#sendReview.popup.popup--review.mfp-with-anim.mfp-hide
  form.js-validation(action="#")
    p.title ОСТАВИТЬ оТЗЫВ
    .input-container
      p Ваше имя
      input(type="text" name="name" placeholder="Марина Маринина")
    .input-container
      p Эл. почта
      input(type="text" name="mail" placeholder="ваша@почта.ru")
    .input-row
      .input-container.input-container--size
        p Ваш размер
        input(type="text" name="size" placeholder="30F")
      .input-container--rating
        p Дайте свою оценку
        .card-bottom__like
          fieldset.rating
            input#star15(type='radio', name='rating', value='5')
            label.full(for='star15', title='5 stars')
            input#star14(type='radio', name='rating', value='4')
            label.full(for='star14', title='4 stars')
            input#star13(type='radio', name='rating', value='3')
            label.full(for='star13', title='3 stars')
            input#star12(type='radio', name='rating', value='2')
            label.full(for='star12', title='2 stars')
            input#star11(type='radio', name='rating', value='1')
            label.full(for='star11', title='1 star')
        
    .input-container
      p Отзыв
      textarea(name="mess" placeholder="Сообщение")
    .submit-btn
      input.btn(type="submit", value="Отправить")

#openSizes.popup.popup--sizes.mfp-with-anim.mfp-hide
  .sizes__table
    .sizes__bg-rows
      .sizes__bg-row
      .sizes__bg-row
      .sizes__bg-row
      .sizes__bg-row
      .sizes__bg-row
      .sizes__bg-row
      .sizes__bg-row
    table
      tr
        th AA
        th A
        th B
        th C
        th D
        th DD
        th E
        th F
        th FF
        th G
        th GG
        th H
        th HH
        th J
        th JJ
        th K
        th KK
        th L
        th LL
      tr
        td
        td 
        td 
        td 
        td 
        td 
        td 
        td.in-stock 55F
        td.no-size 55FF
        td 55G
        td 55GG
        td 55H
        td 55HH
        td 55J
        td 55JJ
        td 55K
        td 
        td 
        td 
      tr
        td.in-stock 60AA
        td.no-size 60A
        td 60B
        td 60C
        td 60D
        td 60DD
        td 60E
        td 60F
        td 60FF
        td 60G
        td 60GG
        td 60H
        td 60HH
        td 60J
        td 60JJ
        td 60K
        td 60KK
        td 60L
        td 65LL
      tr
        td 65AA
        td 65A
        td 65B
        td 65C
        td 65D
        td 65DD
        td 65E
        td 65F
        td 65FF
        td 65G
        td 65GG
        td 65H
        td 65HH
        td 65J
        td 65JJ
        td 65K
        td 65KK
        td 65L
        td 70LL
      tr
        td 70AA
        td 70A
        td 70B
        td 70C
        td 70D
        td 70DD
        td 70E
        td 70F
        td 70FF
        td 70G
        td 70GG
        td 70H
        td 70HH
        td 70J
        td 70JJ
        td 70K
        td 70KK
        td 70L
        td 75LL
      tr
        td 75AA
        td 75A
        td 75B
        td 75C
        td 75D
        td 75DD
        td 75E
        td 75F
        td 75FF
        td 75G
        td 75GG
        td 75H
        td 75HH
        td 75J
        td 75JJ
        td 75K
        td 75KK
        td 75L
        td 
      tr
        td 80AA
        td 80A
        td 80B
        td 80C
        td 80D
        td 80DD
        td 80E
        td 80F
        td 80FF
        td 80G
        td 80GG
        td 80H
        td 80HH
        td 80J
        td 80JJ
        td 80K
        td 80KK
        td 80L
        td 
      tr
        td 85AA
        td 85A
        td 85B
        td 85C
        td 85D
        td 85DD
        td 85E
        td 85F
        td 85FF
        td 85G
        td 85GG
        td 85H
        td 85HH
        td 85J
        td 85JJ
        td 85K
        td 85KK
        td 85L
        td 
      tr
        td
        td 90A
        td 90B
        td 90C
        td 90D
        td 90DD
        td 90E
        td 90F
        td 90FF
        td 90G
        td 90GG
        td 90H
        td 90HH
        td 90J
        td 90JJ
        td 90K
        td 90KK
        td 
        td 
      tr
        td
        td 95A
        td 95B
        td 95C
        td 95D
        td 95DD
        td 95E
        td 95F
        td 95FF
        td 95G
        td 95GG
        td 95H
        td 95HH
        td 95J
        td 95JJ
        td 95K
        td 95KK
        td 
        td 
      tr
        td
        td 100A
        td 100B
        td 100C
        td 100D
        td 100DD
        td 100E
        td 100F
        td 100FF
        td 100G
        td 100GG
        td 100H
        td 100HH
        td 100J
        td 100JJ
        td 100K
        td 
        td 
        td 
      tr
        td
        td 
        td 105B
        td 105C
        td 105D
        td 105DD
        td 105E
        td 105F
        td 105FF
        td 105G
        td 105GG
        td 105H
        td 105HH
        td 105J
        td 105JJ
        td 105K
        td 
        td 
        td 
      tr
        td
        td 
        td 110B
        td 110C
        td 110D
        td 110DD
        td 110E
        td 110F
        td 110FF
        td 110G
        td 110GG
        td 110H
        td 110HH
        td 110J
        td 110JJ
        td 110K
        td 
        td 
        td 
      tr
        td
        td 
        td 
        td 115C
        td 115D
        td 115DD
        td 115E
        td 115F
        td 115FF
        td 115G
        td 115GG
        td 115H
        td 115HH
        td 115J
        td 115JJ
        td 115K
        td 
        td 
        td 
      tr
        td
        td 
        td 
        td 
        td 120D
        td 120DD
        td 120E
        td 120F
        td 120FF
        td 120G
        td 120GG
        td 120H
        td 120HH
        td 120J
        td 120JJ
        td 120K
        td 
        td 
        td 
  .popup--sizes-row
    .popup--sizes-item
      p 
        span.pink 70C  
        | — размер в наличии 
    .popup--sizes-item
      p 
        span.grey 70C  
        | — размер отсутствует
    .popup--sizes-item
      p 
        span.full 70C  
        | — ваши избранные размеры

#detailCard.popup.popup--detail.mfp-with-anim.mfp-hide
  .card
    .card__top
      .card__image
        .card__info-head
          p.card__info-title бюстгальтер sweet illusion с широкими бретелями
          p.card__info-desc freya
        .xzoom-container
          .xzoom-container-main-image
            img#xzoom-default.xzoom(src='img/card-model-1-1.jpg', xoriginal='img/card-model-1-1.jpg')
          .xzoom-container-thumbs
            .xzoom-thumbs
              a.is-active(href='img/card-model-1-1.jpg' js-thumb-toggle)
                img.xzoom-gallery(width='83', src='img/card-model-1-1.jpg', xpreview='img/card-model-1-1.jpg')
              a(href='img/card-model-1-2.jpg' js-thumb-toggle)
                img.xzoom-gallery(width='83', src='img/card-model-1-2.jpg')
              //- a(href='img/card-model-3.jpg' js-thumb-toggle)
              //-   img.xzoom-gallery(width='83', src='img/card-model-3.jpg')
      .card__info.card__info--popup
        .card__info-head
          p.card__info-title бюстгальтер sweet illusion с широкими бретелями
          p.card__info-desc freya
        .card__info-grid
          .card__info-left.card__info-left--popup
            .card__info-row
              p ваши Размеры
              span.card__info-que ?
                span.card__info-hint Вы можете указать свои размеры в 
                  a(href="#") Личном кабинете  
                  |  и мы будем показывать только те размеры, которые подходят именно Вам
              a(href="#openSizes" data-effect="mfp-zoom-in" js-popup) Все размеры
            .card__info-sizes
              table
                tr
                  td
                    a(href="#" js-choose-filter) 85AA
                  td
                    a(href="#" js-choose-filter) 85A
                  td
                    a(href="#" js-choose-filter) 80A
                  td
                    a(href="#" js-choose-filter) 75B
                tr
                  td
                    a(href="#" js-choose-filter) 70C
                  td
                    a(href="#" js-choose-filter) 70D
                  td
                    a(href="#" js-choose-filter) 65D
                  td
                    a(href="#" js-choose-filter) 60DD
            .card__info-color
              p Цвет
                span Красный
              .card__info-color-grid
                a(href="#" js-choose-color)
                  img(src="img/model-color-1.jpg", alt="")
                a(href="#" js-choose-color)
                  img(src="img/model-color-2.jpg", alt="")
                a(href="#" js-choose-color)
                  img(src="img/model-color-3.jpg", alt="")
            .card__info-available
              p Наличие 
              span.line.is-active
              span.line
              span.line
              p.info Временно отсутствует
            .card__info-buttons
              a.is-active(href="#" js-choose-shop) В салоне
              a(href="#" js-choose-shop) В интернет-магазине
            .card__info-price
              p 22 420 Р
              .card__info-percent
                p.pink -11%
                p.old-price Вместо 25 220 Р
            .card__info-choose
              p вы выбрали
                span 78B | Красный
            .card__info-button
              a.btn(href="#") Заказать
            .card__info-bottom
              a(href="#")
                .link-img
                  img(src="img/icon-pin.svg", alt="")
                span Наличие 
                  br
                  | в салонах
              a(href="#")
                .link-img
                  img(src="img/icon-like-hover.svg", alt="")
                span Добавить 
                  br
                  | в избранное

#openSale.popup.popup--sale.mfp-with-anim.mfp-hide
  p.title Почему дешевле?
  p Принципы ценообразования, принятые в нашем магазине, позволяют нам поддерживать самые низкие цены практически на весь ассортимент (который действительно огромен - убедитесь сами!), и даже с запасом, дабы цены и в магазине на Автозаводской оставались ниже рыночных по Москве.
  p Покупая в магазине на Автозаводской (всего 160 метров от метро), Вы имеете неоспоримые преимущества: после покупки вернуть/получить 400 рублей, воочию увидеть товар перед покупкой, подержать его в руках; самостоятельно проверить любые функции; получить грамотную консультацию специалиста, настроить, протестировать, подобрать различные аксессуары, ознакомиться с аналогичными моделями и сравнить их выпить на Ваш выбор чашечку замечательного чая или кофе. Среднее время выдачи товара со склада - всего ~3-7 минут.
  p Цены на доставку ниже (но стоимость доставки Вы оплачиваете отдельно), потому что в этом случае мы не несем дополнительные расходы на комфортный торговый зал площадью примерно 700м2 - мы смогли разделить расходы и не перекладывать на клиентов (которые покупают товар «вслепую») содержание шикарного магазина в центре Москвы.
  p Практика показывает: покупая любой товар «вживую», клиент всегда остаётся доволен - ведь зачастую только взяв в руки товар, можно убедиться, что это именно то, что Вы хотели.


// POPUPS :: END