// POPUPS :: START


#thankMess.popup.popup--thank.mfp-with-anim.mfp-hide
  .popup__image
    img(src="img/mail.png", alt="")
  p Спасибо, ваше сообщение отправлено

#sendReview.popup.popup--review.mfp-with-anim.mfp-hide
  form.js-validation(action="#")
    p.title ОСТАВИТЬ оТЗЫВ
    .input-container
      p Ваше имя
      input(type="text" name="name" placeholder="Марина Маринина")
    .input-container
      p Эл. почта
      input(type="text" name="mail" placeholder="ваша@почта.ru")
    .input-container
      p Отзыв
      textarea(name="mess" placeholder="Сообщение")
    .submit-btn
      input.btn(type="submit", value="Отправить")

#detailCard.popup.popup--detail.mfp-with-anim.mfp-hide
  .card
    .card__top
      .card__image
        .card__info-head
          p.card__info-title бюстгальтер sweet illusion с широкими бретелями
          p.card__info-desc freya
        .xzoom-container
          .xzoom-container-main-image
            img#xzoom-default.xzoom(src='img/card-model-1-1.jpg', xoriginal='img/card-model-1-1.jpg')
          .xzoom-container-thumbs
            .xzoom-thumbs
              a.is-active(href='img/card-model-1-1.jpg' js-thumb-toggle)
                img.xzoom-gallery(width='83', src='img/card-model-1-1.jpg', xpreview='img/card-model-1-1.jpg')
              a(href='img/card-model-1-2.jpg' js-thumb-toggle)
                img.xzoom-gallery(width='83', src='img/card-model-1-2.jpg')
              //- a(href='img/card-model-3.jpg' js-thumb-toggle)
              //-   img.xzoom-gallery(width='83', src='img/card-model-3.jpg')
      .card__info.card__info--popup
        .card__info-head
          p.card__info-title бюстгальтер sweet illusion с широкими бретелями
          p.card__info-desc freya
        .card__info-grid
          .card__info-left.card__info-left--popup
            .card__info-row
              p ваши Размеры
                span ?
              a(href="#") Все размеры
            .card__info-sizes
              table
                tr
                  td
                    a(href="#" js-choose-filter) 85AA
                  td
                    a(href="#" js-choose-filter) 85A
                  td
                    a(href="#" js-choose-filter) 80A
                  td
                    a(href="#" js-choose-filter) 75B
                tr
                  td
                    a(href="#" js-choose-filter) 70C
                  td
                    a(href="#" js-choose-filter) 70D
                  td
                    a(href="#" js-choose-filter) 65D
                  td
                    a(href="#" js-choose-filter) 60DD
            .card__info-color
              p Цвет
                span Красный
              .card__info-color-grid
                a(href="#" js-choose-color)
                  img(src="img/model-color-1.jpg", alt="")
                a(href="#" js-choose-color)
                  img(src="img/model-color-2.jpg", alt="")
                a(href="#" js-choose-color)
                  img(src="img/model-color-3.jpg", alt="")
            .card__info-available
              p Наличие 
              span.line.is-active
              span.line
              span.line
              p.info Временно отсутствует
            .card__info-buttons
              a.is-active(href="#" js-choose-shop) В салоне
              a(href="#" js-choose-shop) В интернет-магазине
            .card__info-price
              p 22 420 Р
              .card__info-percent
                p.pink -11%
                p.old-price Вместо 25 220 Р
            .card__info-choose
              p вы выбрали
                span 78B | Красный
            .card__info-button
              a.btn(href="#") Заказать
            .card__info-bottom
              a(href="#")
                .link-img
                  img(src="img/icon-pin.svg", alt="")
                span Наличие 
                  br
                  | в салонах
              a(href="#")
                .link-img
                  img(src="img/icon-like-hover.svg", alt="")
                span Добавить 
                  br
                  | в избранное


// POPUPS :: END