---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Оформление заказа
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      .head__grid
        p.head__title оформление заказа
  
  // END SECTION :: head

  // BEGIN SECTION :: register

  section.register
    .container
      .register__grid
        .orders-info__list
          .orders-info__head
            .orders-info__part
              p Товары в заказе
            .orders-info__part
              p Кол-во
            .orders-info__part
              p Сумма
          .orders-info__list-item
            .orders-info__part
              .orders-info__image
                img.desktop(src="img/orders-1.jpg", alt="")
                img.mobile(src="img/orders-1-mobile.jpg", alt="")
              .orders-info__info
                p.title бюстгальтер freya sweet illusion
                .orders-info__row
                  p Цвет
                  p Белый
                .orders-info__row
                  p Размер
                  p 75B
            .orders-info__part
              p(mobile-title="Кол-во") 1
            .orders-info__part
              p(mobile-title="Сумма") 1 420 Р
          .orders-info__list-item
            .orders-info__part
              .orders-info__image
                img.desktop(src="img/orders-2.jpg", alt="")
                img.mobile(src="img/orders-2-mobile.jpg", alt="")
              .orders-info__info
                p.title бюстгальтер freya REBEL REBEL
                .orders-info__row
                  p Цвет
                  p Красный
                .orders-info__row
                  p Размер
                  p 75B
            .orders-info__part
              p(mobile-title="Кол-во") 1
            .orders-info__part
              p(mobile-title="Сумма") 11 420 Р
          .orders-info__list-item
            .orders-info__part
              .orders-info__image
                img.desktop(src="img/orders-3.jpg", alt="")
                img.mobile(src="img/orders-3-mobile.jpg", alt="")
              .orders-info__info
                p.title бюстгальтер freya Soire lace
                .orders-info__row
                  p Цвет
                  p Чёрный
                .orders-info__row
                  p Размер
                  p 75B
            .orders-info__part
              p(mobile-title="Кол-во") 1
            .orders-info__part
              p(mobile-title="Сумма") 19 820 Р
        .register__price
          .register__price-row
            p Товары
            p 4 640 Р
          .register__price-row
            p Доставка
            p 0 Р
          p.register__result Итого:
            span 4 640 Р
          a.btn(href="#") Отправить заказ
      form(action="#" method="#")
        .personal__wrapper
          p.personal__title Контактная информация
          .personal__grid
            .personal__item
              .input-container
                p Имя и фамилия
                input(type="text" name="" placeholder="Марина Маринина")
              .input-container
                p Эл. почта
                input(type="text" name="" placeholder="ваша@почта.ru")
              .input-container
                p Телефон
                input(type="text" name="" placeholder="+7 (___) ___ - __ - __")
            .personal__item.personal__item--editable
              .input-container
                p Выберите город
                .input-grid
                  .ui-checkbox
                    input#c1(type="radio", name="group1" checked)
                    label(for="c1") Москва
                  span или
                  .input-city
                    .ui-checkbox
                      input#c2(type="radio", name="group1")
                      label(for="c2" js-checkbox-label)
                    input(type="text" name="" placeholder="другой город" js-checkbox)
              .input-container
                p Адрес
                input(type="text" name="" placeholder="Улица")
              .input-container
                p Комментарий к заказу
                input(type="text" name="" placeholder="Текст")
          .register__separator
            p.personal__title Способ доставки
            .personal__grid
              .personal__item
                .input-container.method
                  input#c3(type="radio", name="group2")
                  label(for="c3")
                    p.bold Курьерская доставка
                    p Стоимость — 290 Р
              .personal__item.personal__item--editable
                .input-container.method
                  input#c4(type="radio", name="group2")
                  label(for="c4")
                    p.bold Получить в 
                      i фирменном  
                      | магазине
                    p Москва, Ленинский проспект, 12
                      a(href="#") схема проезда
          p.personal__title Оплата
          .personal__grid
            .personal__item
              .input-container.method
                input#c5(type="radio", name="group3")
                label(for="c5")
                  p.bold Наличный платёж
            .personal__item.personal__item--editable.personal__item--grid
              .input-container.method
                input#c6(type="radio", name="group3")
                label(for="c6")
                  p.bold Банковская карта онлайн
                  .label-image
                    img(src="img/visa.png", alt="")
              .input-container.method
                input#c7(type="radio", name="group3")
                label(for="c7")
                  p.bold Банковская карта при получении
                  .label-image
                    img(src="img/visa.png", alt="")
          p.register__description Нажимая на кнопку, вы подтверждаете свое совершеннолетие, соглашаетесь на обработку персональных данных в соответствии с Соглашением
          .register__btn-container
            a.btn(href="#") Отправить заказ


          
  // END SECTION :: register