---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Размеры
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      .head__grid
        p.head__title Личный кабинет
        .head__icons
          a(href="#")
            .head__icons-icon
              img(src="img/icon-pack.svg", alt="")
            span Мои заказы
          a(href="#")
            .head__icons-icon
              img(src="img/icon-size.svg", alt="")
            span Мои размеры
          a(href="#")
            .head__icons-icon
              img(src="img/icon-people.svg", alt="")
            span Мой профиль
  
  // END SECTION :: head

  // BEGIN SECTION :: sizes

  section.sizes
    .container
      .sizes__wrapper
        .sizes__item
          p.sizes__title Мои размеры
          p.sizes__info Вы можете добавить до 15 размеров белья в "Свои размеры" и мы будем показывать в каталоге товары в соответствии с Вашими размерами.
        .sizes__item
          p.sizes__title Как определить размер?
          p.sizes__info Тут текст с рекомендацией про то, как определить размер и что лучший способ — посетить магазин и воспользоваться помощью Стилиста.
          a.sizes__link(href="#") Определение размера
        .sizes__item.sizes__item--full
          p.sizes__title Выбор размера
          p.sizes__info Для выбора размера просто кликните на нужное значением и мы добавим его в список Ваших размеров.
          .sizes__table
            .sizes__bg-rows
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
              .sizes__bg-row
            table
              tr
                th AA
                th A
                th B
                th C
                th D
                th DD
                th E
                th F
                th FF
                th G
                th GG
                th H
                th HH
                th J
                th JJ
                th K
                th KK
                th L
                th LL
              tr
                td
                td 
                td 
                td 
                td 
                td 
                td 
                td 55F
                td 55FF
                td 55G
                td 55GG
                td 55H
                td 55HH
                td 55J
                td 55JJ
                td 55K
                td 
                td 
                td 
              tr
                td 60AA
                td 60A
                td 60B
                td 60C
                td 60D
                td 60DD
                td 60E
                td 60F
                td 60FF
                td 60G
                td 60GG
                td 60H
                td 60HH
                td 60J
                td 60JJ
                td 60K
                td 60KK
                td 60L
                td 65LL
              tr
                td 65AA
                td 65A
                td 65B
                td 65C
                td 65D
                td 65DD
                td 65E
                td 65F
                td 65FF
                td 65G
                td 65GG
                td 65H
                td 65HH
                td 65J
                td 65JJ
                td 65K
                td 65KK
                td 65L
                td 70LL
              tr
                td 70AA
                td 70A
                td 70B
                td 70C
                td 70D
                td 70DD
                td 70E
                td 70F
                td 70FF
                td 70G
                td 70GG
                td 70H
                td 70HH
                td 70J
                td 70JJ
                td 70K
                td 70KK
                td 70L
                td 75LL
              tr
                td 75AA
                td 75A
                td 75B
                td 75C
                td 75D
                td 75DD
                td 75E
                td 75F
                td 75FF
                td 75G
                td 75GG
                td 75H
                td 75HH
                td 75J
                td 75JJ
                td 75K
                td 75KK
                td 75L
                td 
              tr
                td 80AA
                td 80A
                td 80B
                td 80C
                td 80D
                td 80DD
                td 80E
                td 80F
                td 80FF
                td 80G
                td 80GG
                td 80H
                td 80HH
                td 80J
                td 80JJ
                td 80K
                td 80KK
                td 80L
                td 
              tr
                td 85AA
                td 85A
                td 85B
                td 85C
                td 85D
                td 85DD
                td 85E
                td 85F
                td 85FF
                td 85G
                td 85GG
                td 85H
                td 85HH
                td 85J
                td 85JJ
                td 85K
                td 85KK
                td 85L
                td 
              tr
                td
                td 90A
                td 90B
                td 90C
                td 90D
                td 90DD
                td 90E
                td 90F
                td 90FF
                td 90G
                td 90GG
                td 90H
                td 90HH
                td 90J
                td 90JJ
                td 90K
                td 90KK
                td 
                td 
              tr
                td
                td 95A
                td 95B
                td 95C
                td 95D
                td 95DD
                td 95E
                td 95F
                td 95FF
                td 95G
                td 95GG
                td 95H
                td 95HH
                td 95J
                td 95JJ
                td 95K
                td 95KK
                td 
                td 
              tr
                td
                td 100A
                td 100B
                td 100C
                td 100D
                td 100DD
                td 100E
                td 100F
                td 100FF
                td 100G
                td 100GG
                td 100H
                td 100HH
                td 100J
                td 100JJ
                td 100K
                td 
                td 
                td 
              tr
                td
                td 
                td 105B
                td 105C
                td 105D
                td 105DD
                td 105E
                td 105F
                td 105FF
                td 105G
                td 105GG
                td 105H
                td 105HH
                td 105J
                td 105JJ
                td 105K
                td 
                td 
                td 
              tr
                td
                td 
                td 110B
                td 110C
                td 110D
                td 110DD
                td 110E
                td 110F
                td 110FF
                td 110G
                td 110GG
                td 110H
                td 110HH
                td 110J
                td 110JJ
                td 110K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 115C
                td 115D
                td 115DD
                td 115E
                td 115F
                td 115FF
                td 115G
                td 115GG
                td 115H
                td 115HH
                td 115J
                td 115JJ
                td 115K
                td 
                td 
                td 
              tr
                td
                td 
                td 
                td 
                td 120D
                td 120DD
                td 120E
                td 120F
                td 120FF
                td 120G
                td 120GG
                td 120H
                td 120HH
                td 120J
                td 120JJ
                td 120K
                td 
                td 
                td 
              
      .sizes__video
        p.sizes__title Наглядная инструкция по определению размера
        .sizes__iframe
          iframe(width="560" height="315" src="https://www.youtube.com/embed/KBkCfM4ONfo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  // END SECTION :: sizes