---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Соглашение
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      p.head__title Соглашение на обработку персональных данных
  
  // END SECTION :: head

  // BEGIN SECTION :: legal

  section.legal
    .container
      .legal__wrapper
        .legal__item
          p.title Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте bustokratia.ru, (далее — Сайт), путем заполнения полей форм Пользователь:
          ul
            li
              p подтверждает, что указанные им персональные данные принадлежат лично ему;
            li
              p признает и подтверждает, что он внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных, указываемых им в полях он-лайн заявки (регистрации) на сайте;
            li
              p признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны;
            li
              p дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте;
            li
              p выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.
          p Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
          p Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
          p.title Настоящее согласие Пользователя применяется в отношении обработки следующих персональных данных:
          ul
            li
              p фамилии, имени, отчества;
            li
              p места пребывания (город, область);
            li
              p номеров телефонов;
            li
              p адресов электронной почты (e-mail);
            li
              p cookie-файлов;
            li
              p информации об IP-адресе Пользователя;
            li
              p информации о местоположении Пользователя.
        .legal__item
          p.title Пользователь, предоставляет Сайту право осуществлять следующие действия (операции) с персональными данными:
          ul
            li
              p сбор и накопление;
            li
              p хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Сайта Пользователем;
            li
              p уточнение (обновление, изменение);
            li
              p использование в целях регистрации Пользователя на Сайте;
            li
              p уничтожение;
            li
              p передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.
          p Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона «О персональных данных».
          p Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты 
            a(href="mailto:law@bustokratia.ru") law@bustokratia.ru
          p  Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
          p Действующая редакция всегда находится на странице по адресу: 
            a(href="http://www.bustokratia.ru/agreement") bustokratia.ru/agreement/
          p К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.







  // END SECTION :: legal