---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Статьи
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      p.head__title Как правильно определить свой размер?
      .head__row
        p.head__row-date 31.01.2020
        p.head__row-views
          img(src="img/icon-eye.png", alt="")
          | 1410
      a.head__back(href="#")
        span
        | Назад к списку статей

  
  // END SECTION :: head

  // BEGIN SECTION :: blog

  section.blog
    .container
      img.blog__image(src="img/blog-3.jpg", alt="")
      .blog__content
        h2 Чтобы подобрать удобный и функциональный бюстгальтер, надо учесть множество нюансов. Самый главный из них – правильный выбор стартового размера – того, с которого вы начинаете примерку. Профессиональный бра-фиттер делает это на глаз и проверяет, ориентируясь на ключевые точки. Мы  составили пошаговую инструкцию, с помощью которой любая из вас сможет определить свой стартовый размер.
        h3 1. Какого размера ваш самый удобный бюстгальтер?
        p Возьмите свой лучший бюстгальтер. Тот, который сидит на вас лучше всего, в котором вам удобно и который не беспокоит вас в течение дня падающими бретелями и задирающимся поясом. 
        p Какой размер у него на ярлычке?
        h3 2. Какой обхват под грудью в дюймах?
        p Возьмите дюймовую ленту и измеряйте себе обхват под грудью. Будьте внимательны: лента должна лечь плотно под грудью. Это место мы называем субмаммарной складкой: линия под основанием груди, естественная линия изгиба.
        p Лента при измерении должна быть параллельна полу. 
        p Какая цифра получилась по ленте? 
        h3 3. Сколько в сантиметрах?
        p Переведите получившуюся цифру из дюймовой системы в сантиметры. 1 дюйм = 2,54 см. 
        p Какой результат у вас получился?
        h3 4. Всё сходится?
        p Соответствует ли цифра, полученная в пункте 3, цифре из пункта 1 (той, что фигурирует в размерном ярлычке вашего бюстгальтера)? 
        h3 5. А что насчёт одежды?
        img.blog__image(src="img/blog-3-1.jpg", alt="")
        p Посмотрите на таблицу примерного соотношения размера одежды и размера бюстгальтера. Совпадают ли ваши результаты? Или вы носите бюстгальтер, предназначенный для более полной женщины? 
        p Запишите результат.
        h3 6. Совпадают ли цифры?
        p Сопоставьте цифры, полученные в пункте 2 и в пункте 5. Как они соотносятся? Совпадают ли они? Вероятнее всего, где-то между ними находится стартовый объём пояса бюстгальтера, с которого вам нужно начинать примерку.
        h3 7. Какую выбрать чашку?
        p Определив стартовый объем бюстгальтера по поясу, измерьте себя дюймовой лентой по самым выступающим точкам груди. 
        p Из полученной цифры вычтите ту, которую получили в пункте 2 (обхват под грудью в дюймах).
        p Результат соотнесите с таблицей ниже: 
        img.blog__image(src="img/blog-3-2.jpg", alt="")
        h3 8. Итак, ваш размер… 
        p Запишите вместе цифру, полученную в пункте 6, и размер чашки, полученный в пункте 7. 
        p Это есть ваш стартовый размер. 
        h3 9. И самое главное… 
        img.blog__image(src="img/blog-3-3.jpg", alt="")
        p Знание цифр – ещё не главное. Стартовый размер – лишь точка отсчёта, с которой вы начинаете примерку. Подойдёт вам не тот бра, на ярлыке которого будут нужные цифры, а тот, который идеально сядет по всем ключевым точкам:
        ul
          li
            p Пояс застёгнут на самые свободные крючки;
          li
            p Бретели отрегулированы по размеру: под ними помещаются два пальца;
          li
            p Пояс параллелен полу; при максимальном натяжении между ним и вашей спиной помещаются 4 пальца;
          li
            p Перемычка плотно прилегает к грудине;
          li
            p Косточки лежат ровно под основанием груди в субмаммарной складке;
          li
            p Грудь полностью заполняет чашки, в них нет пустот.
        p Если бюстгальтер соответствует каждому пункту, поздравляем! Посадка идеальна. Это тот самый бра, в котором вам будет удобно.
        p Если вы испытываете сложности с определением размера - ничего страшного. Приходите к нам на бра-фиттинг в Бюстократию, мы вам поможем!

        p.tags Теги:  
          a(href="#") тег №1
          | , 
          a(href="#") тег №2
          | , 
          a(href="#") тег №3

  // END SECTION :: blog