---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Статьи
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      p.head__title 10 правил подбора белья
      .head__row
        p.head__row-date 31.01.2020
        p.head__row-views
          img(src="img/icon-eye.png", alt="")
          | 141
      a.head__back(href="#")
        span
        | Назад к списку статей

  
  // END SECTION :: head

  // BEGIN SECTION :: blog

  section.blog
    .container
      img.blog__image(src="img/blog-2.jpg", alt="")
      .blog__content
        h2 9 из 10 женщин носят бюстгальтер неправильного размера. Виной тому – огромное количество заблуждений и отсутствие бельевой грамотности как у покупательниц, так и у консультантов в магазинах. Возьмите на вооружение 10 правил грамотного подбора – и бюстгальтер перестанет вам казаться самой неудобной деталью гардероба.
        h3 1. Сначала пояс, потом чашка
        p Поиск подходящего размера начинается с пояса, а не с чашки. Традиционные “дайте мне самую маленькую чашку” и “у меня D” ведут к той самой печальной статистике, с которой мы начали этот текст. 
        p Не существует вашего размера чашки без правильно подобранного пояса, потому что первое всегда зависит от второго. Чашка В на поясе 70 и чашка В на поясе 120 будут разными. С каждым следующим шагом по поясу чашка будет увеличиваться, хотя буква при этом будет оставаться той же. 
        p Чтобы правильно подобрать чашку, необходимо сначала определиться с размером пояса.
        h3 2. Размер пояса и обхват под грудью – не одно и то же
        img.blog__image(src="img/blog-2-1.jpg", alt="")
        p Наши мамы учили нас мерить обхват под грудью сантиметровой лентой, чтобы узнать свой размер пояса. Этот способ устарел три десятилетия назад, когда в бельё стали добавлять эластан. Бюстгальтеры стали дешевле, удобнее, их стало проще посадить на женщин разных комплекций, появилось разнообразие дизайнов. Но адепты определения размера при помощи сантиметровой ленты эту перемену проигнорировали, не заметив, что бельё стало тянуться. 
        p За поддержку груди на 90% отвечает пояс. В правильно подобранном бюстгальтере вы можете опустить бретели, и лифчик должен остаться на месте и не смещаться при движении. Для этого пояс должен туго обтягивать спину в самом узком её месте. 
        p А теперь представьте, что пояс равен обхвату под грудью и при этом имеет свойство растягиваться. Мало того, что он изначально не будет сидеть туго – он шире в обхвате, чем самое узкое место спины. Но вскоре вы получите ещё несколько лишних сантиметров, и вся конструкция будет свободно гулять по вашей спине. Любой эластичный материал будет держаться на теле, только если вы учитываете его коэффициент натяжения. Именно поэтому и носки, и колготки используют плотные резинки, которые уменьшают обхват. С бюстгальтерами та же история.
        p Чтобы пояс сидел ровно, распределял нагрузку по спине и фиксировал грудь на нужном уровне, он должен быть меньше, чем обхват под грудью.
        h3 3. Надевайте бюстгальтер правильно
        p Современный метод определения размера ориентируется на посадку. Вы оцениваете её по конкретным критериям (о них чуть ниже). Для того, чтобы вы могли понять, хорошо ли сидит бра, его нужно правильно надеть.
        p 
          a(href="https://www.youtube.com/watch?v=qI5jZha58Sg" target="_blank") Как правильно надевать бюстгальтер, 
          | мы показываем на этом видео:
        .blog__video-container
          .blog__video
            iframe(src="https://www.youtube.com/embed/qI5jZha58Sg" frameborder="0" allowfullscreen)
        
        h3 4. Застёгивайте пояс на самые свободные крючки
        p Даже самый качественный бюстгальтер со временем будет растягиваться. Чтобы продлить срок его службы, производители закладывают несколько рядов крючков на поясе. Покупая новый бра, вы застёгиваете его на самые свободные крючки, а по мере растяжения перестёгиваете на следующие. Так вы используете весь потенциал носки лифчика.
        p Не переживайте, что можете поправиться и бюстгальтер станет мал. Небольшие колебания веса эластичная ткань компенсирует сама: бра растянется и по-прежнему будет удобен.
        h3 5. Ориентируйтесь на ключевые точки
        p Современный метод определения размера вообще обходится без сантиметровой ленты. Вы просто меряете бра, который кажется подходящим, и проверяте посадку в конкретных точках – мы называем их ключевыми. Есть чёткие каноны, как должен сидеть бюстгальтер, чтобы обеспечивать поддержку груди и комфорт женщине:
        ul
          li
            p Бра застёгнут на самые свободные крючки;
          li
            p Под бретелями помещаются два пальца; 
          li
            p Пояс параллелен полу;
          li
            p Перемычка плотно прилегает к грудине;
          li
            p Косточки лежат ровно под основанием груди в субмаммарной складке;
          li
            p Грудь полностью заполняет чашки, в них нет пустот.
        p Когда каждый из критериев выполнен, мы называем это “технический фит”. Размер, который даёт вам технический фит, и есть ваш стартовый размер: теперь поиски подходящего бра начинайте с него.
        h3 6. Определитесь с целями
        img.blog__image(src="img/blog-2-2.jpg", alt="")
        p Не бывает бюстгальтера и в пир, и в мир, и в добрые люди. Возложить на одну модель все свои надежды – прямой путь к разочарованию. Поймите, какие у вас есть запросы к белью, и подбирайте его для конкретных функций. 
        ul
          li
            p Базовое бельё
            p Бельё на каждый день, незаметное под вашим базовым гардеробом. Чаще всего с гладкими падированными чашками. Как правило, телесного и чёрного цвета, но возможны и альтернативные варианты: розовый, персиковый и капуччино под светлые вещи, синий, коричневый, бордовый под тёмные. При грамотном подборе такие бюстгальтеры будут невидимы под тонкими и обтягивающими вещами.
          li
            p Будуарное бельё
            p Эффектное бельё с изюминкой, которое при этом удобно в носке и оказывает необходимую поддержку груди. Кружевные и декорированные бра, которые вам захочется надеть, например, на свидание. С вещами из плотных тканей или свободного фасона могут также оставаться невидимыми.
          li
            p Бельё для сложных вырезов
            p Если в вашем гардеробе водятся вещи с глубоким декольте, вырезами на спине, открытыми плечами – подбирайте под них бельё отдельно. Силиконовые бретели и пояс – это моветон, их всё равно видно. Чтобы создать иллюзию отсутствия белья, подбирайте бюстгальтеры конвертибл, бандо, бра с клеевыми боками, ленту для груди – под каждый вырез свой вариант.
          li
            p Спортивное бельё
            p Активный образ жизни требует усиленной поддержки для груди. Нагрузка на находящиеся в ней Куперовы связки увеличивается, когда вы занимаетесь спортом. Хороший спортивный бюстгальтер поможет груди дольше сохранить молодость, а вам чувствовать себя комфортно во время занятий спортом.
        h3 7. Главное – ощущения, а не цифры
        p То, что вы знаете свой размер, не гарантирует, что в любой модели с соответствующими цифрами на ярлыке вам будет комфортно. Более того: бывает и так, что по всем ключевым точкам посадка идеальна, но вам всё равно неудобно. Это нормально. Доверяйте своим ощущениям.
        p Бюстгальтер – это сложный предмет гардероба. Он выполняет медицинские функции, работает на повышение самооценки и ваш ежедневный комфорт. Не соглашайтесь на меньшее.
        h3 8. Не существует белья, которое подойдёт всем
        img.blog__image(src="img/blog-2-3.jpg", alt="")
        p Не бывает Самого Лучшего в Мире Лифчика. Как не бывает и самого лучшего бренда.
        p То, что на вас идеально сел один конкретный балконет и не сел один конкретный бра с полной чашкой, не означает, что вам подходят только балконеты. Ориентируйтесь не на конкретные фасоны и бренды, а на посадку и свои ощущения. Научившись подбирать бельё правильно, вы сможете собрать полноценный бельевой гардероб из разных моделей и брендов.
        p Да, одни модели будут садиться на вас лучше, чем другие, даже после того, как вы освоите азы бельевой грамотности. Некоторые бюстгальтеры не сядут на вас никогда – даже в том случае, если цифра на ярлычке совпадает с вашим размером. Все женщины разные, и ни один производитель мира не в состоянии выпустить бюстгальтер, который сядет на любую грудь.
        h3 9. Ваш размер будет меняться
        p Не существует нулевого, первого, второго и третьего размеров груди. В современной размерной сетке около 220 размеров, и за свою жизнь вы смените несколько из них. Это происходит минимум 6 раз за жизнь из-за перемен в гормональном фоне. А кроме того, женщинам свойственно худеть, полнеть, меняться в качестве тела. Все эти перемены сказываются на размере и форме груди.
        p Мы рекомендуем проходить бра-фиттинг раз в полгода: это поможет не пропустить момент, когда ваша грудь изменилась, и не оставить её без необходимой поддержки. Если вы похудели или поправились более, чем на 3-5 кг, прошли беременность или кормление грудью, менопаузу, приём гормональных препаратов или другие гормональные скачки – обязательно проверьте свой размер и обновите бельевой гардероб.
        h3 10. Правильный подбор белья нужен всем
        p За время существования нашего салона мы подобрали бельё более чем 20000 женщин разных комплекций, возрастов и размеров груди. И мы уверены: каждая женщина выигрывает от грамотно подобранного бюстгальтера. 
        ul
          li
            p Бонусы для здоровья
            p При неправильном подборе вес груди ложится на плечи и шею. Как следствие женщины мучаются болями в плечах, шее и голове. Отсутствие поддержки также ведёт к преждевременному птозу – обвисанию груди под собственным весом. Птозу подвержена грудь любого размера. Ошибочно думать, что маленькая грудь избежит подобной участи. Единственный способ продлить молодость груди – обеспечить ей грамотную поддержку.
          li
            p Уверенность в себе
            p Самооценка женщины во многом привязана к тому, довольна ли она своим внешним видом. Правильно подобранный бюстгальтер способен выгодно оформить любые параметры фигуры: округлить и поднять на уровень середины плеча даже очень небольшую или очень возрастную грудь; поднять и оформить очень большой бюст, подчеркнув талию; омолодить силуэт.
          li
            p Комфорт
            p Падающие бретели, впивающиеся косточки, задирающийся пояс, вываливающаяся из чашек грудь и даже повышенное потоотделение – не обязательные атрибуты бюстгальтера. Это всего лишь следствие неудачного подбора. Наденьте грамотно подобранный бра – и вам не захочется его снимать.
          li
            p Экономия
            p Это может показаться неочевидным, но правильно подобранный гардероб экономит ваши деньги. Если все бюстгальтеры вам подходят, они не будут лежать мёртвым грузом в шкафу, пока вы покупаете очередной, надеясь, что с ним повезёт больше. Лифчик, купленный по размеру и форме, честно служит вам от полугода до года в зависимости от качества, режима носки и ухода. Теперь вы будете реже обновлять свой бельевой гардероб, а значит, сможете позволить себе более дорогие и качественные вещи. 

        p.tags Теги:  
          a(href="#") тег №1
          | , 
          a(href="#") тег №2
          | , 
          a(href="#") тег №3

  // END SECTION :: blog