---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: breadcrumbs
  section.breadcrumbs
    .container
      .breadcrumbs__list
        a(href="#") Главная
        a(href="#") Статьи
    
  
  // END SECTION :: breadcrumbs

  // BEGIN SECTION :: head

  section.head
    .container
      p.head__title Что такое сестринские размеры
      .head__row
        p.head__row-date 19.07.2019
        p.head__row-views
          img(src="img/icon-eye.png", alt="")
          | 41
      a.head__back(href="#")
        span
        | Назад к списку статей

  
  // END SECTION :: head

  // BEGIN SECTION :: blog

  section.blog
    .container
      img.blog__image(src="img/blog-1.jpg", alt="")
      .blog__content
        h2 Сестринские размеры – это размеры бюстгальтеров с одинаковой вместимостью по чашке. Они не взаимозаменяемы, поскольку длина пояса будет в них разной. Но они помогают подобрать нужную вам чашку тогда, когда вы хотите поэкспериментировать с поясом. 
        h3 Как обычно происходит дело в магазинах? 
        p “Если 70В маловат вам в обхвате, возьмите 75В”, – говорит консультант из-за шторки и протягивает вам бюстгальтер с большим поясом и большей чашкой. Даже если допустить, что сам факт “маловатости пояса” продавец установил правильно, алгоритм всё равно ошибочный: ведь к чашке претензий не было. Консультант думает, что, поменяв вам цифры на поясе и сохранив букву, он выдаст вам ту же самую чашку на поясе большего размера. Но это не так: В на поясе 70 и В на поясе 75 – это разные чашки.
        p Потому что 70В и 75В – не сестринские размеры.
        h3  Как должно быть?
        p Если вам нужен больший объём пояса, но претензий к посадке чашки нет, вы увеличиваете размер на один шаг, а чашку ровно на столько же уменьшаете. То есть сестринский размер к 70В – это 75А. Или 80АА. Или 65С, если пояс, наоборот, надо уменьшить: в этом случае для сохранения чашки букву надо прибавлять.
        p Вот в этих размерах одной и той же модели пояса будут отличаться, а чашки будут одинаковы:
        h3.pink 70F – 75E – 80D – 85C – 90B – 95A
        p Профессиональный бра-фиттер знает секрет сестринских размеров, а также нюансы посадки разных моделей и брендов. Некоторые из них маломерят или большемерят, некоторые тянутся хуже, некоторые лучше: зная ваш стартовый размер, ваши запросы и правила подбора белья, можно собрать полноценный бельевой гардероб даже на самую капризную грудь.
        p.tags Теги:  
          a(href="#") словарь бра-фиттера
          | , 
          a(href="#") азбука бра-фиттинга

  // END SECTION :: blog