---
title: Bustokratia
---
extends shared/_layout
block content

  .about-new

    // BEGIN SECTION :: head

    section.head
      .container
        p.head__title О бюстократии
    
    // END SECTION :: head

    // BEGIN SECTION :: about

    section
      .container
        .about__el
          .about__info-container
            .about__info
              p.title О компании
              p.info Магазин «Бюстократия» – это новый формат бельевого шоппинга, где профессиональные стилисты подберут для вас нижнее белье, купальники или корректирующее белье.
              p.info Бра-фиттер оценит посадку вашего бюстгальтера по ключевым точкам и определит оптимальный размер, исходя из параметров фигуры и груди.
              p.info На сеансе бра-фиттинга вы научитесь правильно подбирать размер, узнаете о корректной посадке бюстгальтера, обновите бельевой гардероб.
              p.info В коллекции Бюстократии более 50 европейских и американских брендов: Kinga, Corin, Lemax, Avocado, Ewa Michalak, Panache и другие. Самая полная размерная сетка в России: 220+ размеров в наличии от AА до LL!.
          .about__image
            .about__image-container(style="background-image: url(img/about-new-1.jpg)")
              img(src="img/about-new-1.jpg", alt="")
        .about__el.about__el--reverse
          .about__image
            .about__image-container(style="background-image: url(img/about-new-2.jpg)")
              img(src="img/about-new-2.jpg", alt="")
          .about__info-container
            .about__info
              p.title Как работает стилист?
              p.info Посещение салона «Бюстократия» начинается с консультации бельевого стилиста. На этом этапе бра-фиттер оценивает посадку вашего белья и определяет стартовый размер бюстгальтера. Рассказывает, как определить посадку бра по ключевым точкам, как правильно надевать бюстгальтер и ухаживать за ним.
              p.info Следующий этап: подбор белья по вашим запросам и пожеланиям.
                br
                | Воспользуйтесь только первым (образовательным) этапом, чтобы научиться самостоятельно подбирать себе идеальное белье. В этом случае стоимость консультации стилиста составит 990 р. Или сэкономьте 990 р. и вложите их в покупку бюстгальтеров мечты: при любой покупке консультация стилиста бесплатна.
        .about__el
          .about__info-container
            .about__info
              p.title Наша философия
              p.info Каждая женщина, вне зависимости от размера ее груди и фигуры, достойна правильно подобранного бюстгальтера, который будет ее украшать и прекрасно поддерживать.
          .about__image
            .about__image-container(style="background-image: url(img/about-new-3.jpg)")
              img(src="img/about-new-3.jpg", alt="")
        .about__el.about__el--reverse
          .about__image
            .about__image-container(style="background-image: url(img/about-new-4.jpg)")
              img(src="img/about-new-4.jpg", alt="")
          .about__info-container
            .about__info
              p.title Наши ценности
              p.info Понимание особенностей конструкции, размерного ряда и посадки современных бюстгальтеров, тщательный анализ и индивидуальный подход, заложенные в методике бра-фиттинга, позволяют нам избежать множества ошибок, которые делают женщины, самостоятельно подбирая белье «по наитию».

    // END SECTION :: about