---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section
    .firstscreen
      .firstscreen__carousel(js-firstscreen-slider)
        .firstscreen__carousel-item
          p.firstscreen__title у нас есть
            br 
            |  все размеры
          img.firstscreen__desktop(src="img/slide-1.jpg", alt="")
          img.firstscreen__mobile(src="img/slide-1-mobile.png", alt="")
        .firstscreen__carousel-item
          p.firstscreen__title у нас есть
            br 
            |  все размеры
          img.firstscreen__desktop(src="img/slide-1.jpg", alt="")
          img.firstscreen__mobile(src="img/slide-1-mobile.png", alt="")
        .firstscreen__carousel-item
          p.firstscreen__title у нас есть
            br 
            |  все размеры
          img.firstscreen__desktop(src="img/slide-1.jpg", alt="")
          img.firstscreen__mobile(src="img/slide-1-mobile.png", alt="")
        .firstscreen__carousel-item
          p.firstscreen__title у нас есть
            br 
            |  все размеры
          img.firstscreen__desktop(src="img/slide-1.jpg", alt="")
          img.firstscreen__mobile(src="img/slide-1-mobile.png", alt="")
  
  // END SECTION :: firstscreen

  // BEGIN SECTION :: main-grid-size

  section.main-grid
    .container
      .main-grid__grid
        .main-grid__item.main-grid__item--big
          .main-grid__image-container
            a(href="#")
              img(src="img/image-size.jpg", alt="")
        .main-grid__item
          .main-grid__consult
            img(src="img/logo-header.svg", alt="")
            p Консультация стилиста —
              br 
              | бесплатно!
            form(action="#" method="#")
              .input-container
                input(type="text", name="" placeholder="Ваше имя")
              .input-container
                input(type="tel", name="" placeholder="+7 (___) ___ - __ - __")
              .input-container
                input.btn(type="submit" value="Получить консультацию")

  // END SECTION :: main-grid-size

  // BEGIN SECTION :: main-grid-size
  section.main-search
    .container
      .main-search__grid
        .main-search__item
          .main-search__item-container
            p.main-search__title Поиск по размеру
            form(action="#" method="#")
              .main-search__form
                .input-container
                  input(type="text", name="" placeholder="Укажите свой размер")
                .input-container
                  input.btn(type="submit", value="")
                  img.main-search__search(src="img/search.svg", alt="")
            img(src="img/image-size-3.jpg", alt="")
        .main-search__item
          .main-search__item-container
            p.main-search__title Хотите точно знать 
              br
              |  свой размер?
            p.main-search__info Просто запишитесь на бесплатную консультацию стилиста длительностью 30 минут для правильного определения размера и подгона до идеальной посадки.
            a.btn(href="#") Выбрать дату и время
        .main-search__item
          .main-search__image-container
            a(href="#")
              img(src="img/image-size-2.jpg", alt="")

  // END SECTION :: main-grid-size

  // BEGIN SECTION :: top10

  section.top10
    .container
      .top10__container
        .top10__head
          p.top10__title ТОП-10
          .top10__buttons
            a.is-active(href="#" js-top-button) базовое бельё
            a(href="#" js-top-button) будуарное бельё
            a(href="#" js-top-button) спортивное бельё
            a(href="#" js-top-button) домашняя одежда
        .top10__tabs
          .top10__text
            p Наш топ-10 мы открываем изысканными, легкими и утонченными бюстгальтерами французского бренда Empreinte. Элегантный крой, аккуратные детали и самые последние инновации покорят любую, даже самую требовательную женщину! Модели представлены до чашки G.
          .top10__tab.is-active
            .top10__text.top10__text--inside
              p Наш топ-10 мы открываем изысканными, легкими и утонченными бюстгальтерами французского бренда Empreinte. Элегантный крой, аккуратные детали и самые последние инновации покорят любую, даже самую требовательную женщину! Модели представлены до чашки G. базовое белье
            p.top10__tab-title базовое бельё
            .top10__carousel(js-mobile-slider)
              .top10__item
                .top10__image
                  img(src="img/model-1.jpg", alt="")
                p.top10__info 1) Nessa Tatuaz (Black/Nude)
              .top10__item
                .top10__image
                  img(src="img/model-2.jpg", alt="")
                p.top10__info 2) Empreinte Carolyn (Caviar)
              .top10__item
                .top10__image
                  img(src="img/model-3.jpg", alt="")
                p.top10__info 3) Empreinte Cassiopee Bra (Rose Sauvage)
              .top10__item
                .top10__image
                  img(src="img/model-4.jpg", alt="")
                p.top10__info 4) Empreinte Thalia Bra (Encre Bleue)
              .top10__item
                .top10__image
                  img(src="img/model-5.jpg", alt="")
                p.top10__info 5) Curvy Kate Smoothie Soul Plunge Bra (Black)
              .top10__item
                .top10__image
                  img(src="img/model-6.jpg", alt="")
                p.top10__info 6) Freya Chi Bra (Grey)
              .top10__item
                .top10__image
                  img(src="img/model-7.jpg", alt="")
                p.top10__info 7) Curvy Kate Smoothie Soul Plunge Bra (Latte)
              .top10__item
                .top10__image
                  img(src="img/model-8.jpg", alt="")
                p.top10__info 8) Elomi Matilda (Cafe au Lait)
              .top10__item
                .top10__image
                  img(src="img/model-9.jpg", alt="")
                p.top10__info 9) Elomi Matilda (Red)
              .top10__item
                .top10__image
                  img(src="img/model-10.jpg", alt="")
                p.top10__info 10) Elomi Matilda (Black)
          .top10__tab
            .top10__text.top10__text--inside
              p Наш топ-10 мы открываем изысканными, легкими и утонченными бюстгальтерами французского бренда Empreinte. Элегантный крой, аккуратные детали и самые последние инновации покорят любую, даже самую требовательную женщину! Модели представлены до чашки G. Будуарное бельё
            p.top10__tab-title Будуарное бельё
            .top10__carousel(js-mobile-slider)
              .top10__item
                .top10__image
                  img(src="img/model-2.jpg", alt="")
                p.top10__info 2) Empreinte Carolyn (Caviar)
              .top10__item
                .top10__image
                  img(src="img/model-3.jpg", alt="")
                p.top10__info 3) Empreinte Cassiopee Bra (Rose Sauvage)
              .top10__item
                .top10__image
                  img(src="img/model-4.jpg", alt="")
                p.top10__info 4) Empreinte Thalia Bra (Encre Bleue)
              .top10__item
                .top10__image
                  img(src="img/model-5.jpg", alt="")
                p.top10__info 5) Curvy Kate Smoothie Soul Plunge Bra (Black)
              .top10__item
                .top10__image
                  img(src="img/model-6.jpg", alt="")
                p.top10__info 6) Freya Chi Bra (Grey)
              .top10__item
                .top10__image
                  img(src="img/model-7.jpg", alt="")
                p.top10__info 7) Curvy Kate Smoothie Soul Plunge Bra (Latte)
              .top10__item
                .top10__image
                  img(src="img/model-8.jpg", alt="")
                p.top10__info 8) Elomi Matilda (Cafe au Lait)
              .top10__item
                .top10__image
                  img(src="img/model-9.jpg", alt="")
                p.top10__info 9) Elomi Matilda (Red)
              .top10__item
                .top10__image
                  img(src="img/model-10.jpg", alt="")
                p.top10__info 10) Elomi Matilda (Black)
              .top10__item
                .top10__image
                  img(src="img/model-1.jpg", alt="")
                p.top10__info 1) Nessa Tatuaz (Black/Nude)
          .top10__tab
            .top10__text.top10__text--inside
              p Наш топ-10 мы открываем изысканными, легкими и утонченными бюстгальтерами французского бренда Empreinte. Элегантный крой, аккуратные детали и самые последние инновации покорят любую, даже самую требовательную женщину! Модели представлены до чашки G. Спортивное бельё
            p.top10__tab-title Спортивное бельё
            .top10__carousel(js-mobile-slider)
              .top10__item
                .top10__image
                  img(src="img/model-3.jpg", alt="")
                p.top10__info 3) Empreinte Cassiopee Bra (Rose Sauvage)
              .top10__item
                .top10__image
                  img(src="img/model-4.jpg", alt="")
                p.top10__info 4) Empreinte Thalia Bra (Encre Bleue)
              .top10__item
                .top10__image
                  img(src="img/model-5.jpg", alt="")
                p.top10__info 5) Curvy Kate Smoothie Soul Plunge Bra (Black)
              .top10__item
                .top10__image
                  img(src="img/model-6.jpg", alt="")
                p.top10__info 6) Freya Chi Bra (Grey)
              .top10__item
                .top10__image
                  img(src="img/model-7.jpg", alt="")
                p.top10__info 7) Curvy Kate Smoothie Soul Plunge Bra (Latte)
              .top10__item
                .top10__image
                  img(src="img/model-8.jpg", alt="")
                p.top10__info 8) Elomi Matilda (Cafe au Lait)
              .top10__item
                .top10__image
                  img(src="img/model-9.jpg", alt="")
                p.top10__info 9) Elomi Matilda (Red)
              .top10__item
                .top10__image
                  img(src="img/model-10.jpg", alt="")
                p.top10__info 10) Elomi Matilda (Black)
              .top10__item
                .top10__image
                  img(src="img/model-1.jpg", alt="")
                p.top10__info 1) Nessa Tatuaz (Black/Nude)
              .top10__item
                .top10__image
                  img(src="img/model-2.jpg", alt="")
                p.top10__info 2) Empreinte Carolyn (Caviar)
          .top10__tab
            .top10__text.top10__text--inside
              p Наш топ-10 мы открываем изысканными, легкими и утонченными бюстгальтерами французского бренда Empreinte. Элегантный крой, аккуратные детали и самые последние инновации покорят любую, даже самую требовательную женщину! Модели представлены до чашки G. домашняя одежда
            p.top10__tab-title домашняя одежда
            .top10__carousel(js-mobile-slider)
              .top10__item
                .top10__image
                  img(src="img/model-5.jpg", alt="")
                p.top10__info 5) Curvy Kate Smoothie Soul Plunge Bra (Black)
              .top10__item
                .top10__image
                  img(src="img/model-6.jpg", alt="")
                p.top10__info 6) Freya Chi Bra (Grey)
              .top10__item
                .top10__image
                  img(src="img/model-7.jpg", alt="")
                p.top10__info 7) Curvy Kate Smoothie Soul Plunge Bra (Latte)
              .top10__item
                .top10__image
                  img(src="img/model-8.jpg", alt="")
                p.top10__info 8) Elomi Matilda (Cafe au Lait)
              .top10__item
                .top10__image
                  img(src="img/model-9.jpg", alt="")
                p.top10__info 9) Elomi Matilda (Red)
              .top10__item
                .top10__image
                  img(src="img/model-10.jpg", alt="")
                p.top10__info 10) Elomi Matilda (Black)
              .top10__item
                .top10__image
                  img(src="img/model-1.jpg", alt="")
                p.top10__info 1) Nessa Tatuaz (Black/Nude)
              .top10__item
                .top10__image
                  img(src="img/model-2.jpg", alt="")
                p.top10__info 2) Empreinte Carolyn (Caviar)
              .top10__item
                .top10__image
                  img(src="img/model-3.jpg", alt="")
                p.top10__info 3) Empreinte Cassiopee Bra (Rose Sauvage)
              .top10__item
                .top10__image
                  img(src="img/model-4.jpg", alt="")
                p.top10__info 4) Empreinte Thalia Bra (Encre Bleue)
  // END SECTION :: top10

  // BEGIN SECTION :: main-grid

  section.main-grid
    .container
      .main-grid__grid
        .main-grid__item
          .main-grid__image-container
            a(href="#")
              img(src="img/item-1.jpg", alt="")
        .main-grid__item.main-grid__item--big
          .main-grid__image-container
            a(href="#")
              img(src="img/item-2.jpg", alt="")
        .main-grid__item.main-grid__item--big
          .main-grid__image-container
            a(href="#")
              img(src="img/item-3.jpg", alt="")
        .main-grid__item
          .main-grid__image-container
            a(href="#")
              img(src="img/item-4.jpg", alt="")
        .main-grid__item
          .main-grid__image-container
            a(href="#")
              img(src="img/item-5-1.jpg", alt="")
          .main-grid__image-container
            a(href="#")
              img(src="img/item-5-2.jpg", alt="")
        .main-grid__item.main-grid__item--big
          .main-grid__image-container
            a(href="#")
              img(src="img/item-6.jpg", alt="")

  // END SECTION :: main-grid

  // BEGIN SECTION :: main-subscribe-form
  section.main-form
    .container
      .main-form__grid
        .main-form__image
          .main-form__image-container
            img(src="img/convert.png", alt="")
        .main-form__info
          p подпишитесь
            br
            span  и узнавайте о новинках первыми
        .main-form__form
          .input-container
            input(type="text", name="" placeholder="Укажите свою электронную почту")
          .input-container
            input.btn(type="submit", value="Подписаться")
        

  // END SECTION :: main-subscribe-form