---
title: Bustokratia
---
extends shared/_layout
block content

  // BEGIN SECTION :: POPUPS
  .container
    .popup__links
      a(href="#thankMess" data-effect="mfp-zoom-in" js-popup js-open-thank) Open success popup
      a(href="#sendReview" data-effect="mfp-zoom-in" js-popup) Оставить отзыв
      a(href="#detailCard" data-effect="mfp-zoom-in" js-popup) Быстрый просмотр
      a(href="#openSizes" data-effect="mfp-zoom-in" js-popup) Все размеры

  // END SECTION :: POPUPS