/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  background: #fff
  height: 86px
  z-index: 100
  transform: translate3d(0,0,0)
  // border-bottom: 1px solid #b3b3b3
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2)
  .container
    max-width: 1920px
    padding: 0 40px
  .hamburger
    display: none

+r($hd1600)
  .header
    height: 80px

+r($hd)
  .header
    height: 80px

+r($desktop)
  .header
    height: 70px
    &__logotype
      margin-bottom: -20px
    .hamburger
      display: block
      order: 4
      padding: 0
      margin-right: 0px
      width: 30px
      opacity: 1
      .hamburger-inner
        border-radius: 0
        background: $hoverRed
        width: 30px
        &:before,
        &:after
          border-radius: 0
          background: $hoverRed
          width: 100%
        &:before
          width: 20px
        &:after

+r($tablet)
  .header
    height: 57px
    .container
      padding: 0 20px