.head
  padding: 33px 0
  &__title
    font-family: $demi
    font-size: 30px
    color: #000
    text-transform: uppercase
    letter-spacing: 1.3px
    line-height: 1.2


+r($tablet)
  .head
    padding: 35px 0 26px
    &__title
      font-size: 24px